* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    max-height: 1500px;
    color: #655A56;
    background-image: linear-gradient(to right bottom, #FBDB89, #F48982);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 2 * 4vw);
    height: 100%;
}



/*overlays*/

.dark_overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgb(0,0,0,0.5);
    cursor: pointer;
}

/*food_detail_card*/
.food_card{
    z-index: 11;
    position: fixed;
    height: 400px;
    width: 300px;
    margin-left: -150px;
    top: 15%;
    left: 50%;
    border-radius: 6px;
    background-color: rgb(233, 229, 227);
}

.detail {
    background-color: #F9F5F3;
    border-radius: 0 0 6px 6px;
}

.detail h2,
.detail h4{
    margin-bottom: 5px;
    margin-top: 5px;
}

.detail_img{
    border-radius:6px 6px 0px 0px;
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.detail_img .real_img{
    max-width: 100%;
    object-position: 0px -50px;
    width:100%;
}

.detail_img .upload_img{
    max-width: 80%;
    display: block;
    margin: 10% auto 10% auto; 
}

.name_input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.type_input{
    display: inline-block;
    padding-left: 0px !important;
    margin-left: 10% !important;
}

.submit_btn{
    width:30% !important;
    display: inline-block;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.icon-submit{
    font-size: 180%;
    margin-top: 10%;
}

/*general*/
.container {
    max-width: 120rem;
    background-color: #fff;
    margin: 4vw 10vh;
    margin-top: 10vh !important;
    margin-bottom: 10vh !important;
    display: grid;
    border-radius: 6px;
    box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
    grid-template-areas: "search search" "log profile";
    grid-template-rows: 10rem minmax(100rem, auto);
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
}

/*HEADER*/
.search {
    grid-area: search;
    background-color: #F9F5F3;
}

.datepicker {
    background-color: #fff;
    width: 25% !important;
}

input:focus {
    border-bottom: 1px solid #f39272 !important;
    box-shadow: 0 1px 0 0 #fa865f !important;
}

.btn{
    background-color: #f59e81 !important;
    margin-left: 0.5vw;
}

.btn:hover{
    background-color: #f3a68c !important;
}

.icon-search {
    font-size: 140%;
    margin-top: 40%;
}


.log {
    grid-area: log;
}

.profile {
    margin-top: 2px;
    grid-area: profile;
    background-color: #F9F5F3;
}

.logo {
    width: 33%;
    display: inline-block;
    margin-left: 5px;
}

/*LOG*/

.meal {
    margin-bottom: 50px;
}

.time {
    display: block;
    margin: 10px 10px 10px 10px;
}

.time h3{
    color: rgb(143, 127, 121);
    font-weight: 300;
    margin-top:0px;
    margin-bottom: 0px; 
}

.food_container {
    display: inline-block;
    width: 23%;
    height: 0;
    margin: 7px -7px 0px 10px;
    position: relative;
    padding-bottom: 23%;
    overflow: hidden;
}

.food_container img{
    object-position: 0px -20px;
    width:100%;
}

/*profile*/

.water_tracker{
    padding-top: 30px;
    padding-bottom: -10px;
    text-align: center;
}

.water_tracker button{
    background-color: transparent;
    border-width: 0px;
}

.water_logo{
    text-align: center;
}

.water {
    color: #655A56;
    font-size: 30px;
    transition: color 0.2s;
}

.taken {
    color:rgb(170, 234, 255);
}


